<h1>Compare political parties on the major issues</h1>
<p>Pick two parties, and one issue...</p>

<form class="form-inline">
  <div class="form-group">
    <label for="parties1">Compare </label>
    <%= select_tag 'party_id1', options_for_select(@parties.collect{ |u| [u.name, u.id] }), :class => 'form-control input-lg' %>
  </div>
  <div class="form-group">
    <label for="parties2">To </label>
    <%= select_tag 'party_id2', options_for_select(@parties.collect{ |u| [u.name, u.id] }), :class => 'form-control input-lg' %>
  </div>
  <div class="form-group">
    <label for="issue">On </label>
    <%= select_tag 'issue', options_for_select(@issues.collect), :class => 'form-control input-lg' %>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Compare</button>
</form>
