<h1>Compare political parties on the major issues</h1>
<p>Pick two parties, and one issue...</p>

<form class="form-inline">
  <div class="form-group">
    <label for="parties1">Party 1</label>
    <select class="form-control input-lg">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
  </div>
  <div class="form-group">
    <label for="parties2">Party 2</label>
    <select class="form-control input-lg">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
  </div>
  <div class="form-group">
    <label for="issue">Issue</label>
    <select class="form-control input-lg">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Compare</button>
</form>
